1. Import the libraries and print the information about dataset i.e diabetes.csv

In [1]:
import pandas as pd

df = pd.read_csv("data\\diabetes.csv", index_col = 0) 
df

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,,,,,,,,
6,148,72,35,0,33.6,0.627,50,1
1,85,66,29,0,26.6,0.351,31,0
8,183,64,0,0,23.3,0.672,32,1
1,89,66,23,94,28.1,0.167,21,0
0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...
10,101,76,48,180,32.9,0.171,63,0
2,122,70,27,0,36.8,0.340,27,0
5,121,72,23,112,26.2,0.245,30,0
1,126,60,0,0,30.1,0.349,47,1
1,93,70,31,0,30.4,0.315,23,0

2. Check for datatypes i.e categorical, integer and float in dataset

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 768 entries, 6 to 1
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Glucose                   768 non-null    int64
 1   BloodPressure             768 non-null    int64
 2   SkinThickness             768 non-null    int64
 3   Insulin                   768 non-null    int64
 4   BMI                       768 non-null    float64
 5   DiabetesPedigreeFunction  768 non-null    float64
 6   Age                       768 non-null    int64
 7   Outcome                   768 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 54.0 KB

3. check the columns that have null values

In [4]:
df.isnull()

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,,,,,,,,
6,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
0,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
10,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False

4. Apply the sort on Age column in descending order

In [7]:
df = df.sort_values(by = 'Age')
df

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,,,,,,,,
1,113,64,35,0,33.6,0.543,21,1
1,124,60,32,0,35.8,0.514,21,0
3,90,78,0,0,42.7,0.559,21,0
1,97,64,19,82,18.2,0.299,21,0
2,94,68,18,76,26.0,0.561,21,0
...,...,...,...,...,...,...,...,...
5,132,80,0,0,26.8,0.186,69,0
5,136,82,0,0,0.0,0.640,69,0
4,145,82,18,0,32.5,0.235,70,1
2,119,0,0,0,19.6,0.832,72,0
9,134,74,33,60,25.9,0.460,81,0

In [23]:
df = df.sort_values(by = 'Age', ascending = False)
df

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,,,,,,,,
9,134,74,33,60,25.9,0.460,81,0
2,119,0,0,0,19.6,0.832,72,0
4,145,82,18,0,32.5,0.235,70,1
5,136,82,0,0,0.0,0.640,69,0
5,132,80,0,0,26.8,0.186,69,0
...,...,...,...,...,...,...,...,...
2,130,96,0,0,22.6,0.268,21,0
2,94,68,18,76,26.0,0.561,21,0
1,97,64,19,82,18.2,0.299,21,0
3,90,78,0,0,42.7,0.559,21,0
1,113,64,35,0,33.6,0.543,21,1

5. Print the count values and rows that have "Outcome" == 1

In [27]:
df[df["Outcome"] == 1]

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,,,,,,,,
4,145,82,18,0,32.5,0.235,70,1
4,146,78,0,0,38.5,0.520,67,1
2,158,90,0,0,31.6,0.805,66,1
6,190,92,0,0,35.5,0.278,66,1
0,105,84,0,0,27.9,0.741,62,1
...,...,...,...,...,...,...,...,...
0,151,90,46,0,42.1,0.371,21,1
2,118,80,0,0,42.9,0.693,21,1
0,177,60,29,478,34.6,1.072,21,1
0,138,60,35,167,34.6,0.534,21,1
1,113,64,35,0,33.6,0.543,21,1