In [3]:

import csv
from datetime import datetime
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [4]:
#https://www.youtube.com/watch?v=PPcgtx0sI2E

def extract(page):
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.102 Safari/537.36'}
    url = f'https://www.indeed.co.uk/jobs?q=python+developer&l=London,+Greater+London&start={page}'
    r = requests.get(url, headers)
    soup = BeautifulSoup(r.content, 'html.parser')
    return soup

def transform(soup):
    divs = soup.find_all('div', class_ = 'jobsearch-SerpJobCard')
    for item in divs:
        title = item.find('a').text.strip()
        company = item.find('span', class_ ='company').text.strip()
        try:
            salary = item.find('span', class_ = 'salaryText').text.strip()
        except:
            salary = ''
        summary = item.find('div', {'class' : 'summary'}).text.strip().replace('\n', '')

        job = {
            'title': title,
            'company': company,
            'salary': salary,
            'summary': summary
        }
        joblist.append(job)
    return

joblist = []  

for i in range(0,40,10):
    print(f'Getting page, {i}')
    c = extract(0)
    transform(c)

df = pd.DataFrame(joblist)
print(df.head())
df.to_csv('jobs34.csv')

Getting page, 0
Getting page, 10
Getting page, 20
Getting page, 30
                                         title          company  \
0                              DevOps Engineer    Big Blue Door
1                           Software Developer             Jisc
2  Junior .Python Developer. HealthTec. London  Michael Page UK
3                             Python Developer         hiSkysat
4                   Backend Developer (Python)        Flexciton

                     salary                                            summary
0            £45,000 a year  The position is a full-time, permanent positio...
1            £40,000 a year  Salary: Circa £40,000 per annum when working f...
2  £40,000 - £50,000 a year  You are logical and can develop clear action p...
3            £65,000 a year  HiSky brings innovative technology to the fiel...
4  £50,000 - £65,000 a year  Delivering new features and bug fixes in the p...

In [5]:
df = pd.read_csv('jobs34.csv')
df

,Unnamed: 0,title,company,salary,summary
0,0,DevOps Engineer,Big Blue Door,"£45,000 a year","The position is a full-time, permanent positio..."
1,1,Software Developer,Jisc,"£40,000 a year","Salary: Circa £40,000 per annum when working f..."
2,2,Junior .Python Developer. HealthTec. London,Michael Page UK,"£40,000 - £50,000 a year",You are logical and can develop clear action p...
3,3,Python Developer,hiSkysat,"£65,000 a year",HiSky brings innovative technology to the fiel...
4,4,Backend Developer (Python),Flexciton,"£50,000 - £65,000 a year",Delivering new features and bug fixes in the p...
...,...,...,...,...,...
59,59,Python Developer TDD GCP,Client Server,"£70,000 - £75,000 a year",You'll be able to take ownership of products a...
60,60,Python Developer - AI SAAS,Propel,"£60,000 - £80,000 a year",Potential to mentor and lead other members of ...
61,61,Operations Python Developer,Hudson River Trading,NaN,Algorithmic strategy evaluation and management...
62,62,Remote Python Developer,Ashdown Group,£550 a day,A technology Start-Up that has recently secure...
63,63,Junior eTrading FX Quantitative Developer,UBS,NaN,Linux / python / spark / time series database ...