# Web Scrape Indeed with Python - Extract Job Information to CSV

Let's scrape some job postings from indeed.com using Python. I will show you how to work with pagination, extract job titles, salary, company and summaries from the site and save as a csv file for excel.

#https://www.youtube.com/watch?v=PPcgtx0sI2E

In [1]:

import csv
from datetime import datetime
from datetime import date
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:


def extract(page):
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.102 Safari/537.36'}
    url = f'https://dk.indeed.com/jobs?q=Data+Analyst&l=Denmark&start={page}'
    r = requests.get(url, headers)
    soup = BeautifulSoup(r.content, 'html.parser')
    return soup

def transform(soup):
    divs = soup.find_all('div', class_ = 'jobsearch-SerpJobCard')
    for item in divs:
        extract_date = datetime.today().strftime('%Y-%m-%d')
        post_date = item.find('span', 'date').text
        title = item.find('a').text.strip()
        company = item.find('span', class_ ='company').text.strip()
        
            
        try:
            location  = item.find('span', class_='location').text.strip()
        except:
            location = ''
        
        try:
            salary = item.find('span', class_ = 'salaryText').text.strip()
        except:
            salary = ''
        
        try:
            job_url  = job_url = 'https://dk.indeed.com' + item.h2.a.get('href')
        except:
            job_url  = ''
        
        summary = item.find('div', {'class' : 'summary'}).text.strip().replace('\n', '')

        job = {
            'extract_date': extract_date,
            'post_date': post_date,
            'title': title,
            'company': company,
            'location':location,
            'salary': salary,
            'job_url': job_url,
            'summary': summary
        }
        joblist.append(job)
    return

joblist = []  

for i in range(0,500,10):
    print(f'Getting page, {i}')
    c = extract(0)
    transform(c)

df = pd.DataFrame(joblist)
print(df.head())
df.to_csv('Denmark.csv')

Getting page, 0
Getting page, 10
Getting page, 20
Getting page, 30
Getting page, 40
Getting page, 50
Getting page, 60
Getting page, 70
Getting page, 80
Getting page, 90
Getting page, 100
Getting page, 110
Getting page, 120
Getting page, 130
Getting page, 140
Getting page, 150
Getting page, 160
Getting page, 170
Getting page, 180
Getting page, 190
Getting page, 200
Getting page, 210
Getting page, 220
Getting page, 230
Getting page, 240
Getting page, 250
Getting page, 260
Getting page, 270
Getting page, 280
Getting page, 290
Getting page, 300
Getting page, 310
Getting page, 320
Getting page, 330
Getting page, 340
Getting page, 350
Getting page, 360
Getting page, 370
Getting page, 380
Getting page, 390
Getting page, 400
Getting page, 410
Getting page, 420
Getting page, 430
Getting page, 440
Getting page, 450
Getting page, 460
Getting page, 470
Getting page, 480
Getting page, 490
Empty DataFrame
Columns: []
Index: []

In [3]:
df = pd.read_csv('./DA_Denmark_test.csv', encoding='latin1')

In [4]:
df1 = df.copy()

In [5]:
df1.head()

Empty DataFrame
Columns: [Unnamed: 0]
Index: []

In [11]:
df1.columns

Index(['Unnamed: 0'], dtype='object')

In [12]:
df1.columns.str.upper()

Index(['UNNAMED: 0'], dtype='object')

In [30]:
df1.columns

Index(['Unnamed: 0', 'extract_date', 'post_date', 'title', 'company',
       'location', 'salary', 'job_url', 'summary'],
      dtype='object')

In [31]:
df1.isnull()

,Unnamed: 0,extract_date,post_date,title,company,location,salary,job_url,summary
0,False,False,False,False,False,True,True,False,False
1,False,False,False,False,False,True,True,False,False
2,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...
630,False,False,False,False,False,False,True,False,False
631,False,False,False,False,False,False,True,False,False
632,False,False,False,False,False,False,True,False,False
633,False,False,False,False,False,False,True,False,False
634,False,False,False,False,False,False,True,False,False

In [5]:
set(df['company'])

{'Capgemini Sogeti',
 'DANISH ENDURANCE',
 'Danske Bank',
 'Falcon.io',
 'Firmnav',
 'HBO Max',
 'Lenus eHealth',
 'Magasin du Nord',
 'Novo Nordisk',
 'OfficeHub',
 'PRECURE ApS',
 'Presidents Summit',
 'Salesforce',
 'Salute Mission Critical',
 'Scalepoint',
 'Statzon',
 'Total',
 'WarnerMedia',
 'William Demant Group',
 'Wood Thilsted',
 'Wunderman'}

In [6]:
df['title'].unique()

array(['Business Analyst Internship Program (sabbatår)',
       'Data savvy and quantitative-oriented Consumer Insight Analys...',
       'HR Data Analyst', 'Data analyst',
       'Data Analyst, Customer Insights', 'Growth Data Analyst',
       'Data Analyst', 'Data Analyst Intern', 'Business Analyst (Danish)',
       'Meteorological and Oceanographic data Analyst', 'Analyst',
       'Data Analyst Internship', 'IGNITE Graduate Program',
       'Retail Analyst', 'Junior Business Analyst',
       'Data Center Facilities Analyst',
       'Studiejob: Data Analyst for research and training of AI',
       'Finance Data Analyst', 'Data Analyst - Student Assistant',
       'Account Executive - Commerce Cloud'], dtype=object)